*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
Header{
    background-color: greenyellow;
    display: flex;// ativa as caixas flexíveis
    justify-content: flex-start; //è o padrão. Os itens são postos no começo do eixo principal eixo "X" (Horizontal)
    justify-content: flex-end;// Os itens são postos no final do eixo principal
    justify-content: center;// Os itens são postos no meio do eixo principal
    justify-content: space-around; //O primeiro espaço vazio e o último são iguais. e vão ser metade dos espaçamentos internos
    // justify-content: space-evenly;//todos os espaçamentos entre os itens serão iguais
    // justify-content: space-between;//O primeiro item fica colado na esquerda, o ultimo item colado na direita. e os espaçamentos internos serão iguais.
    height: 10vh;
    align-items: flex-start;// os itens são postos no começo do eixo "Y" (Vertical)
    align-items: flex-end;// os itens são postos no final do eixo "Y" (Vertical)
    align-items: center;// os itens são postos no centro do eixo Y

    h1{
        border: solid red;
    }
    nav{
        border: solid grey;
        display: flex;
        justify-content: space-evenly;
        width: 60%;
    }

    a{
        text-decoration: none;
        font-size: 1.3rem;
        color: red;
    }
}